/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  :root {
  --primary-color: #1B1E24;
  --secondary-color: #1B1E24;
  --font-color: #1B1E24;
  --bg-color: #fff;
  --heading-color: #1B1E24;
  }

  [data-theme="dark"] {
    --primary-color: #fff;
    --secondary-color: #fff;
    --font-color: #fff;
    --bg-color: #1B1E24;
    --heading-color: #fff;
  }

  body {
    background-color: var(--bg-color);
  }

  /*.container{*/
  /*  position: relative;*/
  /*  display: flex;*/
  /*  justify-content: center;*/
  /*  align-items: center;*/
  /*  text-align: center;*/
  /*  height: 97vh;*/
  /*  .content h1{*/
  /*    color: var(--primary-color);*/
  /*    font-family: "Dosis",sans-serif;*/
  /*    font-size: 5rem;*/
  /*  }*/
  /*  .content p{*/
  /*    color: var(--primary-color);*/
  /*    font-family: "Dosis",sans-serif;*/
  /*    font-size: 2rem;*/
  /*  }*/
  /*}*/


  .header{
    position: absolute;
    top: 10px;
    right: 20px;
    .moon, .sun{
      width: 34px;
      cursor: pointer;
      transition: .5s all ease-in-out;
    }
    .sun:hover{
      animation: sun_rotate 1s infinite;
    }
    .moon:hover{
      transform: scale(1.1);
    }
    .hide{
      display: none;
    }
  }


  col3,col4 Animations

  @keyframes sun_rotate{
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }